.list {
  background-color: blue;
  margin: 1vh;

}

h1 {
  color: rgb(169, 98, 169);
}

.container {
  width: 20%;
  height: 90vh;
  margin: auto;
  margin-top: 3rem;
  padding: 0rem 3rem;
  border-radius: 2rem;
  border: solid 3px;
  color: blueviolet;
  background-color: rgb(77, 11, 11);

}

.container2 {
  border: 2rem 4rem;
  border-radius: solid 3;
}